@use "base" as *;
.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 /-1;

    display: flex;
    justify-content: center;
    @media only screen and (max-width: $bp-large) {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-content: flex-end;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 100;
    }
}
.nav-btn {
    border-radius: 0;
    border: none;

    background-color: #fff;
    margin-top: 4rem;
    @include size(4.5rem, 2px);
    &::after,
    &::before {
        content: '';
        display: block;
        background-color: #fff;
        @include size(4.5rem, 2px);
    }
    &::before {
        transform: translateY(-1.5rem);
    }
    &::after {
        transform: translateY(1.3rem);
    }
    @media only screen and (max-width: $bp-large) {
        margin-top: 0;

        margin-right: 3rem;
        &::before {
            transform: translateY(-1.2rem);
        }
        &::after {
            transform: translateY(1rem);
        }
    }
}
